body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #222;
}
nav ul {
    display: flex;
    gap: 20px;
}
nav ul li {
    list-style: none;
}
nav a {
    color: #fff;
    text-decoration: none;
}
nav a.active {
    color: #ffce45;
}

/* HERO SECTION */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero span {
    color: #ffb700;
}
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ffb700;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

/* ABOUT */
.about {
    padding: 50px;
    text-align: center;
}
.profile {
    width: 180px;
    border-radius: 50%;
}

/* GALLERY */
.gallery {
    padding: 40px;
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.grid img {
    width: 100%;
    border-radius: 10px;
}

/* CONTACT */
.contact {
    padding: 50px;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 15px;
}
input, textarea {
    padding: 10px;
    border-radius: 5px;
}
button {
    padding: 10px;
    background: black;
    color: white;
    border-radius: 5px;
}
